@charset "UTF-8";
/* 리셋 */
body {margin: 0; padding: 0;}
ul,li,ol {list-style:none; padding:0; margin:0;}
a {text-decoration:none; color:#333;}
p,h2,h1,h3,h4,h5,span {margin:0; color: #2a1703;}
button {border: none;}

/* 상단 */
header {width: 100%; height:722px; background-color: antiquewhite;}
  .header_top {width:100%; height:85px; background-color: aqua; }
  .header_topin {width: 1110px; height:85px; background-color: darkorange ; margin: 0 auto; display: flex; justify-content: space-between;}
  .header_topin .logo {width: 105px; height: 85px; background-color: darkseagreen;}
  .header_topin nav {width: 730px; height: 85px; background-color: deeppink;}
  .header_topin nav ul {display: flex; justify-content: space-around;}
  .header_topin nav li {width: 100px; height: 85px; background-color: deepskyblue;}

/* 메인 슬라이드 */
.slide {width: 1110px; height: 640px; background-color: rgb(222, 228, 146); margin: 0 auto; display: flex; justify-content: flex-start; align-items: center;}
.slide .textbox {width:440px; height: 355px; background-color: limegreen; display: flex; flex-direction: column; align-items: flex-start;justify-content: space-around;}
.header_bottom {width: 100%; height: 145px; background-color: mediumaquamarine; margin-top:-145px; display:flex; justify-content: flex-end;}
  .infobox {width: 50%; height: 145px; background-color: orange; display: flex; justify-content: space-around;align-items: center; }
  .firb {width: 320px; height: 145px; background-color: palegreen;display: flex;}
  .firb_icon {width: 60px; height: 145px; background-color: palevioletred;}
  .firb_text {width: 260px; height: 145px; background-color: teal; display: flex; flex-direction: column; justify-content: space-around;}
  .firb_text h2 {}
  .firb_text p {}

/* 섹션 1*/
#welcome {width:100%; height: 585px; background-color: palegreen;}
  .welcome_in {display:flex; }
  .welcome_movie {width:50%; height: 585px; background-color: peru; }
  .welcome_textbox {width:50%; height: 585px; background-color: powderblue; }










